{
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": false,
    "trailingComma": "none",
    "printWidth": 80,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["cva", "cn"]
}
